.dialog {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 128;
    background-color: rgba(128, 128, 128, 0.5);
    font-size: 2rem;
}

.dialog > div {
    background-color: rgba(64, 64, 64, 0.75);
    padding: 1rem;
}
